<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <!--<style>-->
        <!--*{-->
            <!--color:red;-->
        <!--}-->
    <!--</style>-->
</head>
<body>
你好，我来自于HTML文件夹的ziji.ejs。
<input type="button" value="注册">
</body>
<script>
    var btn=document.querySelector("input");
    btn.onclick=function(){
        // 通过ajax实现登陆
    }
</script>
</html>