<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=newTitle%></title>
</head>
<body>
<% var title="lalalalala";%>
<%include header.ejs%>
<%=context%>
<%include footer.ejs%>
</body>
</html>