<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
我在这里,你在那里，你在或不在，我都在那里，你讲或不讲，我都好好学！
<%=userName%>
<%=advList.length%>
<%for(var i=0;i<advList.length;i++){%>
    <p><%=advList[i].advName%></p>
<%}%>
</body>
</html>