<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="myApp">
       <input type="text" v-model.number="num">
       <!-- <p v-if="num==1">男</p>
       <p v-else-if="num==2">女</p>
       <p v-else>未知</p> -->

       <p v-if="num===1">男</p>
       <p v-else-if="num===2">女</p>
       <p v-else>未知</p>
    </div>
</body>
</html>
<script>
    new Vue({
        el:"#myApp",
        data:{
           num:1   //1.男  2.女  3.未知
        }
    })












</script>