<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue.js"></script>
    <style>
        #wrap input{
            padding:5px;
            margin:5px;
        }
        #wrap div{
            width:500px;
            height:5 00px;
            background:red;
        }
        .active{
            background: #666;
        }
    </style>
</head>
<body>
    <div id="myApp">
      <div id="wrap">
        <input type="button" :class="{active:index==i}" v-for="(v,i) in newInfo" :value="v.typeName" @click="index=i">
        <div v-for="(item,idx) in newInfo" v-show="index == idx">
            <p v-for="info in item.newList"><a :href="info.url">{{info.title}}</a></p>
        </div>
    </div>
    </div>
</body>
</html>
<script>
    new Vue({
        el:"#myApp",
        data:{
          index:0,
          newInfo:[
              {
                  typeName:"体育",
                  newList:[
                      {
                          title:"孙杨回应霍顿颁奖仪式无礼举动：你必须尊重我的国家1",
                          url:"https://sports.qq.com/a/20190721/004687.htm"
                      },
                      {
                          title:"孙杨回应霍顿颁奖仪式无礼举动：你必须尊重我的国家2",
                          url:"https://sports.qq.com/a/20190721/004687.htm"
                      },
                      {
                          title:"孙杨回应霍顿颁奖仪式无礼举动：你必须尊重我的国家3",
                          url:"https://sports.qq.com/a/20190721/004687.htm"
                      }
                  ]
              },
              {
                  typeName:"科技",
                  newList:[
                      {
                          title:"央视报道华为突围：荣耀智慧屏或搭载华为鸿蒙系统1",
                          url:"https://new.qq.com/omn/20190722/20190722V03BKI00.html"
                      },
                      {
                          title:"央视报道华为突围：荣耀智慧屏或搭载华为鸿蒙系统2",
                          url:"https://new.qq.com/omn/20190722/20190722V03BKI00.html"
                      },
                      {
                          title:"央视报道华为突围：荣耀智慧屏或搭载华为鸿蒙系统3",
                          url:"https://new.qq.com/omn/20190722/20190722V03BKI00.html"
                      }
                  ]
              },
              {
                  typeName:"汽车",
                  newList:[
                      {
                          title:"丐版配矩阵大灯、BOSE音响，凯迪拉克XT6买哪款？1",
                          url:"https://new.qq.com/omn/20190722/20190722A02YKE00.html"
                      },
                      {
                          title:"丐版配矩阵大灯、BOSE音响，凯迪拉克XT6买哪款？2",
                          url:"https://new.qq.com/omn/20190722/20190722A02YKE00.html"
                      },
                      {
                          title:"丐版配矩阵大灯、BOSE音响，凯迪拉克XT6买哪款？3",
                          url:"https://new.qq.com/omn/20190722/20190722A02YKE00.html"
                      }
                  ]
              }
          ]
        }
    }) 












</script>